.main-login-component {
  background: url("../static/images/background-login.jpeg");
  background-size: cover;
  display: flex;
  justify-content: center;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 50%;
    height: 70vh;
    .style-container {
      display: flex;
      position: relative;
      flex-direction: column;
      width: 40%;
      height: 100%;
      background-color: #2973f0;
      color: white;
      h1 {
        position: absolute;
        left: 30px;
      }
      p {
        position: absolute;
        align-self: center;
        color: #d6d7dc;
        width: 80%;
        font-size: large;
        top: 50px;
        font-weight: 600;
      }
      img {
        position: absolute;
        width: 80%;
        bottom: 40px;
        align-self: center;
      }
    }
    .form-container {
      background-color: white;
      display: flex;
      width: 60%;
      flex-direction: column;
      justify-content: space-around;
      form {
        padding-top: 53px;
        display: flex;
        flex-direction: column;
        height: 30vh;
        justify-content: space-around;

        label {
          font-size: large;
          font-weight: 500;
        }
        input {
          align-self: center;
          width: 70%;
          height: 20px;
          border: none;
          padding: 5px;
        }
        .login-btn {
          width: 60%;
          height: 40px;
          align-self: center;
          background-color: #fb651c;
          border: none;
          color: white;
          font-size: large;
          font-weight: 700;
        }
      }
      .login-details {
        display: flex;
        flex-direction: column;
        // border: 1px solid black;
        height: 30vh;
        span {
          align-self: center;
          font-size: large;
          color: lightgrey;
        }
        .login-btn {
          margin: 10px;
          width: 60%;
          height: 40px;
          align-self: center;
          background-color: #fb651c;
          border: none;
          color: white;
          font-size: large;
          font-weight: 700;
        }
      }
      .another-link {
        display: flex;
        height: 20%;
        // border: 1px solid black;
        align-self: center;
        .link {
          text-decoration: none;
          color: #2973f0;
          font-weight: 600;
        }
      }
    }
  }
}
