.main-navbar-container {
  display: flex;
  justify-content: space-around;
  background-color: #131a22;
  padding: 10px;
  height: 35px;
  .project-name {
    display: flex;
    flex-direction: column;
    font-size: x-large;
    font-weight: 700;
    color: white;
    justify-content: center;
    cursor: pointer;
    img {
      height: 20px;
      width: 60px;
    }
  }
  .search-bar {
    input {
      width: 600px;
      padding: 10px;
      border: none;
      // border-radius: 4px;
    }
    i {
      background-color: white;
      padding: 11px;
      color: #131a22;
      cursor: pointer;
    }
    input:hover {
      border: none;
    }
  }
  .sign-in {
    padding: 10px;
    color: #131a22;
    background-color: white;
    font-size: 12px;
    cursor: pointer;
    border-radius: 4px;
    .login-link {
      color: black;
      text-decoration: none;
      font-weight: 600;
    }
  }
  .cart-icon {
    padding: 10px;
    color: white;
    cursor: pointer;
    position: relative;
    i {
      padding-left: 5px;
    }
    img {
      position: absolute;
      width: 60px;
      top: 0;
      left: -10px;
    }
    span {
      position: absolute;
      left: 40px;
      bottom: 0px;
    }
    .cart-count {
      color: #f08806;
      position: absolute;
      top: 0;
      left: 18px;
    }
  }
  .nav-link {
    color: white;
    text-decoration: none;
  }
}
