.main-container-item {
  margin: 2% 15% 0 15%;
  padding: 10px;
  display: flex;
  /* border: 1px solid black; */
  justify-content: space-around;
  background-color: lightgrey;
  border-radius: 40px;
  .left-block {
    /* border: 1px solid black; */
    width: 20%;
    img {
      height: 180px;
      width: 180px;
      border-radius: 40px;
      background-color: white;
    }
  }

  .middle-block {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 60%;
    justify-content: space-around;
    .product-name {
      padding-left: 15px;
      font-size: x-large;
      font-weight: 800;
      color: #fa8718;
    }
    .description {
      padding-left: 15px;
      flex-wrap: wrap;
    }
    .product-rating {
      padding-left: 15px;
    }
  }

  .right-block {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 20%;
    justify-content: space-around;
    .product-price {
      padding-left: 0px;
      color: blue;
    }
    .add-btn {
      /* border: 1px solid black; */
      width: 60%;
      background-color: #fa8718;
      color: white;
      font-weight: 800;
      padding: 10px;
      border-radius: 30px;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1200px) {
  .main-container-item {
    width: 90%;
    height: auto;
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 900px) {
  .main-container-item {
    width: 90%;
    height: auto;
    width: 100%;
    margin-left: 0;
  }
  .middle-block {
    margin-left: 50px;
  }
}

@media screen and (max-width: 600px) {
  .main-container-item {
    display: flex;
    /* justify-content: center;
      align-content: center; */
    height: auto;
    width: 100%;
    margin-left: 0;
  }
  .middle-block {
    margin-left: 100px;
  }
  .add-btn {
    width: 100%;
  }
}
